<header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/leaderboard">
                  <img src= "img/leaderboardicon.png" style="width: 50px"/>
                </a>  
                  <!--Change api call when leader board made-->
            </li>
            <div class="nav-item me-1">
              <button id="instructions-btn" type="button" class="btn btn-link btn-floating mx-1"> <img src= "img/instructions.png" style="width: 50px"/> </button>
              <div id="instructions" class="modal">
                <div class="modal-content">
                  <button id="close" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
                  <h3><strong>How To Play</strong></h3>
                  <h5>Guess the city in 6 guesses</h5>
                </div>
              </div>
              <script>
                const instructionsBtn = document.getElementById("instructions-btn");
                const instructionsClose = document.getElementById("close");
                instructionsBtn.addEventListener("click", () => {
                    document.getElementById("instructions").style.display = "block";
                });

                instructionsClose.addEventListener("click", () => {
                    document.getElementById("instructions").style.display = "none";
                });
              </script>
            </div>
            <style>
              .modal-content {
                position: relative;
                background-color: black;
                color: white;
                text-align: left;
              }
              #close {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 15px;
                margin: 10px;
              }
            </style>
          </ul>
          <div class="nav-item me-1">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
            <!-- <a class="nav-link" href="/logout">Log Out</a> -->
            <button id="logout-btn">Log Out</button>
            <div id="logout-modal" class="modal">
              <div class="modal-content">
                <h4>Log Out</h4>
                <p>Are you sure you want to log out?</p>
                <div class="modal-buttons">
                  <input type="submit" class="btn btn-default btn-primary" data-dismiss="modal" value="Logout" id="logout-confirm"/>
	                <button class="btn btn-default" data-dismiss="modal" id="logout-cancel">Cancel</button>
                </div>
              </div>
            </div>
            <script>
              const logoutBtn = document.getElementById("logout-btn");
              const logoutConfirmBtn = document.getElementById("logout-confirm");
              const logoutCancelBtn = document.getElementById("logout-cancel");
        
              logoutBtn.addEventListener("click", () => {
                  document.getElementById("logout-modal").style.display = "block";
              });
              logoutConfirmBtn.addEventListener("click", () => {
                fetch('/logout', {
                  method: 'POST',
                })
                .then(res => res.json())
                .then(data => {
                  if (data.success) {
                    window.location.href = '/login';
                  }
                })
                .catch(err => console.error(err));
              });
              logoutCancelBtn.addEventListener("click", () => {
                  document.getElementById("logout-modal").style.display = "none";
              });
            </script>
          </div>
        </div>
      </div>
    </nav>
   </header>