<header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/leaderboard">
                  <img src= "img/leaderboardicon.png" style="width: 50px"/>
                </a>  
                  <!--Change api call when leader board made-->
            </li>
            <div class="nav-item me-1">
              <button id="instructions-btn" type="button" class="btn btn-link btn-floating mx-1"> <img src= "img/instructions.png" style="width: 50px"/> </button>
              <div id="instructions" class="modal">
                <div class="modal-content" id="instruction">
                  <button id="close" type="button" class="btn-close btn-close-white" aria-label="Close"></button>
                  <h3><strong>How To Play</strong></h3>
                  <h5>Guess the city in 8 guesses</h5>
                  <ul>
                    <li>Each guess must be a valid city</li>
                    <li>The color of the tiles will change to how close your guess was to the actual city</li>
                  </ul>
                  <br>
                  <p>In any guess: 
                    <ul>
                      <li><span style="background-color:#013220">Green</span> indicates a match</li>
                      <li><span style="background-color:rgb(109, 109, 0)">Yellow</span> indicates that the correct number is within 20 digits of the city you guessed</li>
                      <li>An arrow will be shown indicating how high or low your number was compared to the correct city</li>
                    </ul>
                  </p>
                  <p><strong>Example</strong></p>
                  <img src="img/Example.png">
                  <p>
                    <ul>
                      <li>Summer Lo, Longest Day, and Winter Lo, all have data that matches the correct city</li>
                      <li>Winter Hi has data that is within 20 of the correct answer but is too high</li>
                      <li>Summer Hi and Shortest Day have data that is not very close and is too high</li>
                    </ul>
                  </p>
                </div>
              </div>
              <script>
                const instructionsBtn = document.getElementById("instructions-btn");
                const instructionsClose = document.getElementById("close");
                instructionsBtn.addEventListener("click", () => {
                    document.getElementById("instructions").style.display = "block";
                });

                instructionsClose.addEventListener("click", () => {
                    document.getElementById("instructions").style.display = "none";
                });
              </script>
            </div>
            <li class="nav-item" id="Weatherdle">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/weatherdle">
                  <strong>Weatherdle</strong>
                </a>  
                  <!--Change api call when leader board made-->
            </li>
          </ul>
          <div class="nav-item me-1">
            <!-- TO-DO: For Logout, add a <a> tag with an attribute href to call the '/logout API -->
            <!-- <a class="nav-link" href="/logout">Log Out</a> -->
            <% if(locals.login == true) { %>
              <div class="dropdown">
                            <img src="img/pfp<%- locals.user.pfp %>.png" width="35" height="35" class="rounded-circle">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%- locals.user.username %>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/profile">profile</a></li>
                  <li><button id="logout-btn">Log Out</button></li>
                </ul>
              </div>
            
            <% } else { %>
              <form action = "/login" method = "GET"><button id="login-btn" type="submit">Log In</button></form>
              <% } %>
            
            <div id="logout-modal" class="modal">
              <div class="modal-content">
                <h4>Log Out</h4>
                <p>Are you sure you want to log out?</p>
                <div class="modal-buttons">
                  <input type="submit" class="btn btn-default btn-primary" data-dismiss="modal" value="Logout" id="logout-confirm"/>
	                <button class="btn btn-default" data-dismiss="modal" id="logout-cancel">Cancel</button>
                </div>
              </div>
            </div>
            <script>
              const logoutBtn = document.getElementById("logout-btn");
              const logoutConfirmBtn = document.getElementById("logout-confirm");
              const logoutCancelBtn = document.getElementById("logout-cancel");
        
              logoutBtn.addEventListener("click", () => {
                  document.getElementById("logout-modal").style.display = "block";
              });
              logoutConfirmBtn.addEventListener("click", () => {
                fetch('/logout', {
                  method: 'POST',
                })
                .then(res => res.json())
                .then(data => {
                  if (data.success) {
                    window.location.href = '/login';
                  }
                })
                .catch(err => console.error(err));
              });
              logoutCancelBtn.addEventListener("click", () => {
                  document.getElementById("logout-modal").style.display = "none";
              });
            </script>
          </div>
        </div>
      </div>
    </nav>
   </header>