<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<!--Guesses Data should be a JSON array-->
<div class="container">
    <h1>Weatherdle</h1>
    <h5></h5>

</div>

<%- include ('../partials/footer') %>
