<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>


<div class="container">
    <h1>Weatherdle</h1>
</div>

<%- include ('../partials/footer') %>
