<div>
	<form action="/submit" method="post">
		<label for="city">City:</label>
		<textarea id="city" name="city" rows="1" cols="10"></textarea>
		<br>
		<input type="submit" value="Submit">
	</form>
</div>